.contents{
  margin-left: 150px;
}
.form_login{
  width: 250px;
  float: left;
}
.contents input[type="text"]{
  margin-top: 40px;
  border-radius: 9px;
  border-style:none;
  border: 0px;
  outline: 0;
  padding: 12px 19px;
      width: 200px;
  margin-bottom: 30px;
}
.contents input[type="password"]{
  border-radius: 9px;
  border-style: none;
  border: 0px;
  outline: 0;
  padding: 12px 19px;
    width: 200px;
  margin-bottom: 30px;
}
.contents table tr td.title{
  width: 75px;
  color: #666666;
  font-size: 22px;
  font-weight: bold;
}
.contents input[type="submit"]{
  border-radius: 9px;
  border-style: none;
  outline: 0;
  border: 0px;
  color: #ffffff;
  background-color: #019a66;
  padding: 10px 8px;
  width: 238px;
  margin-bottom: 30px;
}
.pic_dish{
  margin-left: 400px;
  margin-bottom: 100px;
  width: 400px;
  height: 400px;
}
