h1{
  font-weight: bold;
}
.contents{
  margin-left: 150px;
}
.form_login{
  width: 250px;
  float: left;
}
.contents input[type="text"]{
  margin-top: 40px;
  border-radius: 9px;
  border-style:none;
  border: 0px;
  outline: 0;
  padding: 12px 19px;
      width: 200px;
  margin-bottom: 30px;
}
.contents input[type="password"]{
  border-radius: 9px;
  border-style: none;
  border: 0px;
  outline: 0;
  padding: 12px 19px;
  width: 200px;
  margin-bottom: 30px;
}
.contents table tr td.title{
  width: 75px;
  color: #666666;
  font-size: 22px;
  font-weight: bold;
}
.contents input[type="submit"]{
  border-radius: 9px;
  border-style: none;
  outline: 0;
  border: 0px;
  color: #ffffff;
  background-color: #019a66;
  padding: 10px 8px;
  width: 238px;
  margin-bottom: 30px;
}
.contents input[type="submit"]:hover{
	background-color: #fafad2;
}
.pic_dish{
  background-image: url("../img/index.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 622px;
  margin-bottom: 100px;
  width: 440px;
  height: 468px;
}
.user_counts{
  text-align: center;
  display: block;
  position: relative;
  top: 123px;
  left: 22px;
  font-size: 117px;
  color: #745322;
  }
.user_counts span{
  font-size: 50px;
  position: relative;
  right: 37px;
}
.management input[type="button"]{
  border-radius: 9px;
  border-style: none;
  outline: 0;
  border: 0px;
  color: #ffffff;
  background-color: #019a66;
  position: relative;
  left: 1200px;
  bottom: 50px;
  padding: 10px 8px;
  width: 238px;
  margin-bottom: 62px;
}
.footer_index {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #66cc94; 
}
.animsition-link{
  color: #ffff;
  text-decoration: none;
}
