body{
  background-color: #f8b1c8;
}
.mypage2{
  width: 500px;
  height: 180px;
  position: absolute;
}
.hfl2{
  width: 1000px;
  float: right;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.tuuti{
  height: 400px;
  position: relative;
  top: 128px;
  left: 350px;
}
