.join_button{
  text-align: center;
  border-radius: 9px;
  border-style: none;
  outline: 0;
  border: 0px;
  color: #ffffff;
  background-color: #019a66;
  padding: 13px 8px;
  width: 200px;
  margin: 200px 0px 0px 100px;
}
header{
  height: 50px;
}
.contents{
  margin-left: 100px;
}
.thanksjoinmessage{
  margin-left: 75px;
  margin-top: 30px;
}
.jointothelunch{
  width: 800px;
  height: 500px;
  position: relative;
  left: 700px;
  bottom: 200px;
}
.mypage{
  position: relative;
  bottom: 80px;
}
.changepass{
  float: right;
  margin-right: 60px;
  position: relative;
  bottom: 18px;
}
.logout{
  float: right;
  margin-right: 60px;
}
